{% extends 'givers/base.html' %}



{% block content %}
<h3 style="text-align: center;text-decoration: underline teal;">How it Works</h3>


    <h4 style="padding-left: 30px;">Register/Signup</h4>
<p style="padding-left: 20px;">
To make use of this app, you must be a registered user, though you can navigate our site, visit our blog, comment on articles without being a registered user but making use of the major features of this app (getting giveaways) requires you to be registered.
Registration can either be through <a href=" url 'signupuser' ">Signup</a> or login through your social account.  When you register through the signup link, a verification will be sent to your email to verify/activate your account before you can proceed to login, so kindly ensure you fill an active email address.
When you login for the first time, you will be redirected to update your account with details such as state of residence, gender, profile pic, phone number and the likes. Kindly ensure the correct details are entered as they will be used to communicate with you and without them you won't be able to see any giveaway in your state of residence.
</p>
<p style="padding-left: 20px;">
If at any point in time, you relocate to another state, kindly update your account through the account settings link to continue to give and enjoy the available items in your present state of residence. For now you can only pick items within your state of residence.
On the other hand, when you login through a social account,  you must first update your account through the account settings link by providing your data to the blank fields as this will make us have a means of communicating with you as well as enable you to see the available items in your state of residence.
</p>

<h4 style="padding-left: 30px;">User Dashboard</h4>
<p style="padding-left: 20px;">
    After successful login,  the user dashboard is where all the activities of each user are captured. It comprises of the previous orders you have made and also the current orders.
</p>

<p style="padding-left: 20px;">
<b>Note:</b> When you pickup any item, your cart will be updated, when your shopping is complete, checkout by clicking on the cart icon to complete the redemption process.
this process must be completed within 20 minutes(from picking desired items >>>>>>> checking out), so as to prevent hoarding of items when you are not really ready to get them.
<br>
You can pick any item from any state by simply updating your state of residence to be the same as that of the item.
<b>Note:</b> make sure you have a person in that state to whom the item(s) will be delivered to with their details properly entered during checkout.
</p>


<p style="padding-left: 20px;"> <b>Note:</b> depending on your state of residence, you might be required to go pick up the items from our centres.
Follow us on Instagram <a href="https://www.instagram.com/giveawaynow234/" style="color: teal;"><i class="fab fa-instagram"></i>@Giveawaynow234</a> for exciting offer annoucement and to dm us if you have Items to giveaway for us to pickup</p>

<p>
    There is no limit to the items you can pick and what you can giveaway. <b>Remember in these tough times, be a giver by not allowing those items you no longer use waste away when somebody somewhere will smile and be happy if they
    have them.</b>
</p>






















{% endblock %}